body {
  background-color: #f6f6f6;
  margin:0,auto;
  font-family: Lato; }
#iyoutingche-topa {
  background-repeat: repeat;
  height: 30px;
  }
#iyoutingche-topleft{
  float: left;
  margin:0 0 0 20px;
  width: 300px;
  height: 30px;
  font-size: 20px;
 }
 #iyoutingche-topright{
  float: right;
  width: 400px;
  height: 30px;
 }
#iyoutingche-middle{
	margin-top:10px;
	width: 1200px;
}
.topl{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color:#CCCCCC;
	margin-top: 10px;
}
#iyoutingche-middle img{
	float: left;
	width: 90px;
	height: 90px;
}
.l{
	float: left;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	margin-left: 15px;
	border-color:#CCCCCC;
	height: 90px;
}
#iyoutingche-city{
	float:left;
	margin-left:50px;
	width:200px;
	height:90px;
}
#iyoutingche-middle form{
	width:650px;
	margin-left: 350px;
	margin-top: 20px;
}
#iyoutingche-middle input{
	width:350px;
	height: 45px;
}
#iyoutingche-b{
	margin-top:10px;
	width: 1200px;
	background-color: #FF00FF;
}
#Map_Content{
	width: 800px;
	height: 470px;
	float:right;
	background-color: #99FF00;
}
#Pcar_left{
	width: 400px;
	height: 470px;
	float:left;
	overflow: scroll;
}
#iyoutingche-login{
	width:900px;
	height:500px;
	background-color: #f6f6f6; 
	 border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
#iyoutingche-login-top{
	width: 850px;
	height: 50px;
	text-align: center;
}
#iyoutingche-login-left{
	width: 450px;
	height: 400px;
	float: left;
}
#iyoutingche-login-left img{
	width: 450px;
	height: 400px;
}
#iyoutingche-login-right{
	width: 420px;
	height: 400px;
	margin-left:15px;
	background-color: #f6f6f6;
	border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	float: left;
}
#iyoutingche-formgroup{
	width: 400px;
	height: 50px;
	margin-left:20px;
	margin-top: 30px;
}
#iyoutingche-forminput{
	width: 250px;
	height: 50px;
	float: right;
	margin-right: 100px;
}
#iyoutingche-loginright-top{
	width:400px;
	margin: 5px 0px 5px 5px;
	height: 40px;
}

#show_mapinfo{
	width: 400px;
	height: 300px;
	margin-left: 300px;
}
.iyoutingche-button{
	text-align:center;
	width:400px;
	height: 30px;
	background-color: #555669;
	float:left;
	color: #FFFFFF;
}
.iyoutingche-shezhi{
	text-align:right;
	float:right;
	width: 800px;
	height: 30px;
	color:#FFFFFF;
	background-color: #2BB8AA;
}
#div1{
	width:380px;
	height:180px;
	margin:5px,0px,5px,5px;
	/* background-color: #f6f6f6; */
	background-color: #2BB8AA;
}
#div2{
	width:380px;
	height:35px;
	margin:5px,5px,5px,5px;
	background-color: #E9F2FD;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
#div2 a{
	float: right;
}
#div2 span{
	font-size: 20px;
	font-weight: bold;
}
#div3{
	width:380px;
	height:130px;
}
#div4{
	margin-left: 115px;
	padding-top: 15px;
}
#div p{
	font-size: 12px;
}
#div3 img{
	width:100px;
	height: 100px;
	float: left;
	margin-left:5px;
	margin-top:5px;
	border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
#depotdiv{
	width: 300px;
	height: 50px;
	margin-left: 500px;
	margin-top: 50px;
	float: right;
}
#depotdiv input{
	width: 300px;
	height: 30px;
}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    background-color: #008ae3;
 #floater{
	 bottom: 35px;
    cursor: pointer;
    font-size: 12px;
    height: 33px;
    line-height: 25px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 30px;
}
  